a:visited{
  color: #056676
}

body {
  background-color: #1B262C;
  color: #FEFBF3;
}

h1{
  color: #00E0FF;
}

h3 {
  color: #71C9CE;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #316B83;
  border-width: 5px;
  height: 0;
  width: 5%;
}
